/*  Locura para que todo tenga el mismo estilo */
* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #111;
    color: white;
    text-align: left;
    padding: 10px;
}

div {
    padding: 10px;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Modificando el fokin tamaño de las imagenes y videos*/

.imagen {
    width: 100%;
    max-width: 490px;
    height: auto;
    margin: 0 auto;
}

.video video {
    width: 100%;
    max-width: 490px;
    height: auto;
}

iframe {
    width: 100%;
    max-width: 490px;
    height: 275px;
}

/* Modificación del formulario (Me estresé con esto) */

.contacto form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.contacto label {
    margin-top: 10px;
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.contacto button {
    margin-top: 15px;
    padding: 8px 16px;
    width: auto;
    align-self: flex-start;
    cursor: pointer;
    background-color: #09005c;
    color: white;
    font-weight: bold;
}

/* Intento de pagina responsiva */
@media (max-width: 768px) {

    header {
        text-align: center;
    }

    iframe {
        height: 200px;
    }

    .contacto form {
        width: 90%;
    }
}